        /* Estilo para los encabezados (h2, h3, h4) */
        h2, h3, h4 {
            background: linear-gradient(135deg, #C0C0C0, #FFFFFF); /* Degradado de plata a blanco */
            -webkit-background-clip: text; /* Aplica el degradado solo al texto */
            color: transparent; /* Hace que el texto sea transparente, mostrando solo el degradado */
            font-family: 'Poppins', sans-serif; /* Fuente profesional */
            font-weight: 600; /* Peso de la fuente */
            font-size: 2rem; /* Tamaño grande */
            text-shadow: 3px 3px 6px rgba(192, 192, 192, 0.8), 0 0 3px rgba(255, 255, 255, 0.8); /* Sombreado de plata y blanco */
        }

        /* Estilo para los textos dentro de los productos (nombre, cantidad y precio) */
        .card-title, .card-text {
            background: linear-gradient(135deg, #C0C0C0, #FFFFFF); /* Degradado de plata a blanco */
            -webkit-background-clip: text; /* Aplica el degradado solo al texto */
            color: transparent; /* Hace que el texto sea transparente, mostrando solo el degradado */
            font-family: 'Poppins', sans-serif; /* Fuente profesional */
            font-weight: 600; /* Peso de la fuente */
            text-shadow: 3px 3px 6px rgba(192, 192, 192, 0.8), 0 0 3px rgba(255, 255, 255, 0.8); /* Sombreado de plata y blanco */
        }

        /* Aplicación de los estilos a las imágenes */
        .card-img-top {
            max-height: 250px; /* Aumentamos un poco el tamaño de la imagen */
            object-fit: contain; /* Asegura que la imagen se ajuste bien sin distorsionarse */
        }