/* Botón de registro (de morado oscuro a rojo oscuro con bordes blancos) */
#btn_registro {
    background: linear-gradient(45deg, #6a0dad, #8b0000); /* Morado oscuro a rojo oscuro */
    border: 1px solid white; /* Borde blanco */
    color: white; /* Texto blanco */
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
}

#btn_registro:hover {
    background: linear-gradient(45deg, #8b0000, #6a0dad); /* Rojo oscuro a morado oscuro en hover */
    transform: scale(1.05);
}

/* Botón de inicio de sesión (de morado oscuro a rojo oscuro con bordes blancos) */
#btn_inicio {
    background: linear-gradient(45deg, #6a0dad, #8b0000); /* Morado oscuro a rojo oscuro */
    border: 1px solid white; /* Borde blanco */
    color: white; /* Texto blanco */
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
}

#btn_inicio:hover {
    background: linear-gradient(45deg, #8b0000, #6a0dad); /* Rojo oscuro a morado oscuro en hover */
    transform: scale(1.05);
}

/* Inputs transparentes con borde blanco */
.input-transparente {
    background-color: transparent !important;
    color: #ffffff !important; /* Aseguramos que el texto dentro del input sea blanco */
    border: 1px solid #ffffff; /* Borde blanco */
}


.input-transparente:focus {
    border-color: #50C878; /* Borde verde esmeralda al hacer focus */
    box-shadow: 0 0 0 0.2rem rgba(80, 200, 120, 0.25);
}

/* Labels en color blanco */
label {
    color: #ffffff !important;
}



